body {
    background-color: #1c1e21;
}

.main-font {
    font-family: 'Jost', sans-serif;
    font-size: 2vw;
    color: #f4f8f7;
}

.window {
    height: 100vh;
    width: 100%;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window > div:first-of-type {
    height: 80%;
}

.carousel-item.middle {
    display: none;
    justify-content: center;
    align-items: center;
}

.carousel-item.middle.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.middle-right-items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.middle-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heading {
    font-family: 'Comfortaa', cursive;
    font-size: 5vw;
    color: #f4f8f7;
}

.slide-top-d0 {
    animation: slide-top 1s ease-out 0s 1 normal both;
}

.slide-top-d1 {
    animation: slide-top 1s ease-out 1s 1 normal both;
}

.slide-top-d2 {
    animation: slide-top 1s ease-out 2s 1 normal both;
}

@keyframes slide-top {
    from {
        opacity: 0;
        transform: translateY(-75%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-d1 {
    animation: fade 1s ease-in 1s 1 normal both;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.img-small {
    height: 35vh;
    width: auto;
    border: 2px solid black;
    border-radius: 50%;
}

.slide-left {
    animation: slide-left 1s ease-out 0s 1 normal both;
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.img-container > img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.3;
    border: 1px solid black;
    transition: opacity 1s;
}

.img-container:hover > img {
    opacity: 1;
}

.img-container > a {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0;
    transition: opacity 1s;
}

.img-container:hover > a {
    opacity: 0;
}

.underline {
    animation: underline 0.5s ease-out 2s 1 normal both;
    background-color: #f3dba4;
    margin-left: 3.5%;
    height: 0.5vw;
    border-radius: 50%;
}

.contact {
    color: white;
    font-size: 1vw;
}

@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 65%;
    }
}

.card {
    border-color: black;
}

.card-header-tabs a {
    color: rgba(0, 0, 0, 0.5);
    transition: font-size 0.5s, background-color 0.5s;
}

.card-header-tabs a.active {
    font-size: 17px;
}

.card-header-tabs a:hover {
    font-size: 17px;
    color: #495057;
}

.nav.flex-column a {
    color: rgba(0, 0, 0, 0.5);
    padding: 0 1rem 0 1rem;
    width: 100%;
    height: calc(100% / 5);
    transition: font-size 0.5s, background-color 0.5s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav.flex-column a.active {
    color: rgb(0, 0, 0);
    background-color: rgb(238, 239, 240);
    font-size: 17px;
}

.nav.flex-column a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(242, 243, 244);
    font-size: 17px;
}

.rounded {
    border-radius: .75rem !important;
}

.rounded-top-left {
    border-radius: .75rem 0 0 0 !important;
}

.rounded-bottom-left {
    border-radius: 0 0 0 .75rem !important;
}

.rounded-top-bottom-left {
    border-radius: .75rem 0 0 .75rem !important;
}

.rounded-top-bottom-right {
    border-radius: 0 .75rem .75rem 0 !important;
}

@media (max-width: 992px) {
    .shrink {
        height: 50% !important;
    }

    .shrink .img-small {
        max-height: 100% !important;
    }

    .grow-width {
        width: 100% !important;
    }

    .underline {
        margin: auto;
    }

    .main-font {
        font-size: 6vw !important;
    }

    .heading {
        font-size: 9vw;
    }

    .contact {
        font-size: 3vw;
    }

    .main-font.text-grow {
        font-size: 8vw;
    }

    h4 {
        font-size: 3rem;

    }

    h5 {
        font-size: 2.5rem;
    }

    body, .btn {
        font-size: 2.25rem;
    }

    .nav.flex-column a.active {
        font-size: 2.25rem;
    }

    .nav.flex-column a:hover {
        font-size: 2.25rem;
    }

    .card-header-tabs a.active {
        font-size: 2.3rem;
    }

    .card-header-tabs a:hover {
        font-size: 2.3rem;
    }

    .expand-height-auto {
        height: auto;
    }

    .nav.flex-column a {
        justify-content: normal;
    }
}
